@model PMS.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusInVS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusInVS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResovedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResovedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActualHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedTimes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RejectedTimes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PullRequestCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PullRequestCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPullRequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstPullRequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPullRequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstPullRequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPullRequestCommentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstPullRequestCommentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPullRequestCommentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstPullRequestCommentCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPullRequestCommitCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstPullRequestCommitCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
