@model IEnumerable<PMS.Models.Bug>

@{
    ViewData["Title"] = "Index";

    var description = "hello";//Strings.SecurityPageDescription;
    if (!string.IsNullOrEmpty(Context.Request.Query["isCompliance"])){
        var isCompliance = false;
        if (bool.TryParse(Context.Request.Query["isCompliance"], out isCompliance))
        {
            description = "hello 2"; // Strings.CompliancePageDescrition;   // Add this key=value pair in resource file
        }
    }
}

<form asp-controller="Bugs" asp-action="Sync" method="get" class="row">
    <div class="col-auto">
        <label class="control-label">Bug ID</label>
    </div>
    <div class="col-auto">
        <input type="text" name="id" class="form-control" />
    </div>
    <div class="col-auto">
        <input type="submit" value="Quick Add" class="btn btn-primary" />
    </div>
    <div>@description</div>
    @*<div class="col-auto">
            <a asp-action="Create" class="btn btn-link">Create New</a>
        </div>*@
</form>

<style>
    .table {
        font-size: 0.8rem;
    }
</style>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.jqueryui.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.jqueryui.min.css" />

<div>BC = Bug Comments, PR = Pull Request, PRD = First PR Date, PRC= PR Comments, PRCM = PR Commits, PRA = PR Age</div>
<table class="table" id="bugTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                StatusInVS
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.ResovedDate)
            </th>
            <th>
                PRD
            </th>
            <th>
                PRA
            </th>
            <th>
                PRS
            </th>
            <th>
                PRC
            </th>
            <th>
                PRCM
            </th>         
           
            <th>Synced</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="https://o365exchange.visualstudio.com/DefaultCollection/IP%20Engineering/_workitems/edit/@item.NO" target="_blank">@item.NO</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusInVS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResovedDate)
            </td>
           
          
            <td>
                @Html.DisplayFor(modelItem => item.FirstPullRequestDate)
            </td>
            <td>
                @(PMS.Controllers.BugsController.GetPullRequestAge(item))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPullRequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPullRequestCommentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPullRequestCommitCount)
            </td>
                     
            <td>
                @Html.DisplayFor(modelItem => item.SyncedOn)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>*@
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                <a asp-action="Sync" asp-route-id="@item.NO"><i class="bi bi-arrow-clockwise"></i></a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">D</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bugTable').DataTable({
                paging: false,
                scrollY: 30000,
                scrollCollapse: true,
                scroller: true
            });
        });
    </script>
}

