@model IEnumerable<PMS.Models.Bug>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Bugs" asp-action="Sync" method="get">
    <p>
        Bug Id: <input type="text" name="id" />
        <input type="submit" value="Add" />
    </p>
</form>

<table class="table" id="bugTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInVS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PullRequestCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPullRequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPullRequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPullRequestCommentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstPullRequestCommitCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="https://o365exchange.visualstudio.com/DefaultCollection/IP%20Engineering/_workitems/edit/@item.NO" target="_blank">@item.NO</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusInVS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResovedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PullRequestCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPullRequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPullRequestStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPullRequestCommentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPullRequestCommitCount)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Sync" asp-route-id="@item.Id">Sync</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bugTable').DataTable({
                paging: false});
        });
    </script>
}

